alembic==1.8.1
asgiref==3.5.2
certifi==2022.6.15
click @ file:///C:/ci/click_1646056762388/work
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
Django==4.1
dnspython==2.2.1
email-validator==1.2.1
Flask @ file:///C:/ci/flask_1658860024433/work
Flask-Login==0.6.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
image==1.5.33
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib==1.1.0
Mako==1.2.1
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
numpy==1.23.1
pandas==1.4.3
Pillow==9.2.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
tzdata==2022.1
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
WTForms==3.0.1
