{% extends "base.html" %}
{% block content %}
<br>
<div class="mx-auto" style="width: 500px;">

<div class="card w-100">
<div class="jumbotron">
  <div align= 'center'>
    <h1>איסוף ביצים</h1>
  </div>
</div>

<div class="container">
  <form class="form-group" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
    {{form.eggs_amount.label(class="form-group")}}
    {{form.eggs_amount(class="form-control")}}
    </div>
    <div class="form-group">
    {{form.broken_eggs.label(class="form-group")}}
    {{form.broken_eggs(class="form-control")}}
    </div>
    <div class="form-group">
    {{form.current_food.label(class="form-group")}}
    {{form.current_food(class="form-control")}}
    </div>
    <div class="form-group">
    {{form.dead_chicken.label(class="form-group")}}
    {{form.dead_chicken(class="form-control")}}
    </div>
    <br>
    <div class="form-group">
    {{form.submit(class = 'btn btn-success')}}
    </div>
</form>
</div>
</div>
</div>

{% endblock %}
