{% extends "base.html" %}
{% block content %}
<br>

<div class="card w-100">
<div class="jumbotron" align = 'center'>
  <h1>Eggs Collecting Data</h1>
</div>

  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Collected by</th>
        <th scope="col">Num of eggs</th>
        <th scope="col">Num of broken eggs</th>
        <th scope="col">Current food</th>
        <th scope="col">Num of dead chickens</th>
        <th scope="col">update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for post in egg_posts.items %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.date.strftime('%d-%m-%Y') }}</td>
          <td>{{ post.collector.last_name }} {{ post.collector.first_name }}</td>
          <td>{{ post.eggs_amount }}</td>
          <td>{{ post.broken_eggs }}</td>
          <td>{{ post.current_food }}</td>
          <td>{{ post.dead_chicken }}</td>
          <td>{% if post.collector == current_user %} <a  class="btn btn-warning" href="{{url_for('egg_posts.update', egg_post_id = post.id)}}">Update</a>{% endif %}</td>
          <td>{% if post.collector == current_user %} <a class="btn btn-danger" href="{{url_for('egg_posts.egg_post' , egg_post_id=post.id)}}">Delete</a>{% endif %} </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<a class="btn btn-success" href="{{url_for('egg_posts.download')}}">Download</a>
<a class="btn btn-info" href="{{url_for('egg_posts.ploteggs')}}">Plot eggs</a>
<a class="btn btn-secondary" href="{{url_for('egg_posts.plotdead')}}">Plot dead</a>

{% endblock %}
