{% extends "base.html" %}
{% block content %}
<br>

<div class="card w-150">
<div class="jumbotron" align = 'center'>
  <h1>Eggs Collecting Data</h1>
</div>

  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">תאריך</th>
        <th scope="col">נאסף על ידי</th>
        <th scope="col">ביצים שלמות</th>
        <th scope="col">ביצים שבורות</th>
        <th scope="col">אוכל עדכני</th>
        <th scope="col">כמות מתות</th>
        <th scope="col">עדכון</th>
        <th scope="col">מחיקה</th>
      </tr>
    </thead>
    <tbody>
      {% for post in egg_posts.items %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.date.strftime('%d-%m-%Y') }}</td>
          <td>{{ post.collector.last_name }} {{ post.collector.first_name }}</td>
          <td>{{ post.eggs_amount }}</td>
          <td>{{ post.broken_eggs }}</td>
          <td>{{ post.current_food }}</td>
          <td>{{ post.dead_chicken }}</td>
          <td>{% if post.collector == current_user %} <a  class="btn btn-warning" href="{{url_for('egg_posts.update', egg_post_id = post.id)}}">עדכון</a>{% endif %}</td>
          <td>{% if post.collector == current_user %} <a class="btn btn-danger" href="{{url_for('egg_posts.egg_post' , egg_post_id=post.id)}}">מחיקה</a>{% endif %} </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<a class="btn btn-success" href="{{url_for('egg_posts.download')}}">הורדה</a>
<a class="btn btn-info" href="{{url_for('egg_posts.ploteggs')}}">גרף ביצים</a>
<a class="btn btn-secondary" href="{{url_for('egg_posts.plotdead')}}">גרף מתות</a>

{% endblock %}
